h3 {   
    color:darkslategray; 
    width: fit-content;  
    font-weight: lighter;  
    padding-left: 2%;  
    font-weight: bold;  }
p {
    color:black;  
    padding-left: 2%;
    padding-right: 2%;  
    font-size: 0.9em;  
    font-family: "Helvetica Neue", Georgia, "Book Antiqua", serif;  }
body {  
    font-size:  1em;  
    font-family: "Helvetica Neue", Georgia, "Book Antiqua", serif;  
    margin: 5% 6%;  }

li {  
    font-size:  0.90em;  
    font-family: "Helvetica Neue", Georgia, "Book Antiqua", serif;  }

div.flexible2 {  
    display:flex;  
    margin-top: 1em;  
    justify-content: center;  }
div.content2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.8em;  
    flex-direction: row;  }
body p.link {
    font-size: 1.5em;  
    font-weight: bold;  
    text-align: center;  }

img {
    /*padding-left: 2%;*/
    display: block;    
    max-width: 100%; 
    justify-content: center;  
    align-content: center;  
    text-align: center;  }

a.head {
    color: black; 
    text-decoration: none;  }
a.link {
    color: cadetblue;  
    text-decoration: none;  }
a:visited {
        color: darkslategray;  }

p.subhead {
    color: cadetblue;  }

p.quote {
    color: aliceblue;
    background-clip: border-box;
    background-color: darkslategrey;
    font-size: 0.9em;
    padding-left: 2%;  
    padding-right: 2%;  
    font-family: "Proxima Nova", Georgia, Times, "Times New Roman", serif;  }